﻿<div style="margin-left: 5em; margin-right:5em">
<p>Die drei Schauspieler Brad Pitt,	Julia Roberts und Catherine Zeta-Jones gingen zu einer Premiere.<br>
Dabei saß er bereits im Filmsaal, während Brad Pitts Kollegen noch auf dem roten Teppich waren.</p>

<b>Wer war im Filmsaal?</b> <br><br>

<select id="Q1" size="1" onchange="update()">
	  <option> </option>
      <option value="01">Brad Pitt</option>
	  <option value="04">Julia Roberts</option>
	  <option value="05">Catherine Zeta-Jones</option>
	  <option value="06"><b>jemand anderes (weiblich)</b></option>
	  <option value="06">jemand anderes (männlich)</option>
</select>



<div id="res_submit" style="display:none;">
 <!-- <div id="res_submit">-->
	<input type="text"name="answer" id="answer"  class="obligatory">
</div>


<script>
function update()	{
	document.getElementById("answer").value=document.getElementById("Q1").value
}
</script>